.blueprint-grid {
  background-color: #e0e0e0;
  background-image: linear-gradient(
      rgba(100, 100, 255, 0.6) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(100, 100, 255, 0.6) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 25vw 25vw, 25vw 25vw, 5vw 5vw, 5vw 5vw;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.lined-paper {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

.stairs {
  background: linear-gradient(63deg, #ccc 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #ccc 78%),
    linear-gradient(63deg, transparent 34%, #ccc 38%, #ccc 58%, transparent 62%),
    #e0e0e0;
  background-size: 4vh 12vh;
}

.half-rombes {
  background: #a6d3f2;
  background: linear-gradient(
        115deg,
        transparent 75%,
        rgba(255, 255, 255, 0.8) 75%
      )
      0 0,
    linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px,
    linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px,
    #a6d3f2;
  background-size: 4vw 8vw;
}

.starry-night {
  position: relative;
  overflow: hidden;
  background-color: #333;
}
.starry-night::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 3px,
      transparent 50px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 3px, transparent 50px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 40px
    );
  z-index: -1; /* Ensures the pseudo-element (::before) is behind the content */
  background-size: 150vw 150vw, 125vw 125vw, 100vw 100vw, 75vw 75vw;
  background-position: 0 0, 10px 15px, 40px 80px, 20px 25px;
  /* animation: twinkle 2s infinite alternate; */
}

.weave {
  background: linear-gradient(
      135deg,
      #708090 21px,
      #d9ecff 22px,
      #d9ecff 24px,
      transparent 24px,
      transparent 67px,
      #d9ecff 67px,
      #d9ecff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #708090 21px,
        #d9ecff 22px,
        #d9ecff 24px,
        transparent 24px,
        transparent 67px,
        #d9ecff 67px,
        #d9ecff 69px,
        transparent 69px
      )
      0 64px;
  background-color: #708090;
  background-size: 20vw 40vw;
}

/* Apply background animation to devices larger than 768px */
@media (min-width: 769px) {
  .starry-night::before {
    background-size: 75vw 75vw, 50vw 50vw, 37.5vw 37.5vw, 25vw 25vw;
    background-position: 0 0, 20px 30px, 65px 135px, 35px 50px;
    animation: twinkle 2s infinite alternate;
  }
}

/* Mid-range devices (e.g., tablets) */
@media (max-width: 768px) {
  .blueprint-grid {
    background-size: 35vw 35vw, 35vw 35vw, 7vw 7vw, 7vw 7vw;
  }
  .stairs {
    background-size: 6vh 18vh;
  }
  .half-rombes {
    background-size: 6vw 12vw;
  }
  .starry-night {
    background-size: 100vw 100vw, 75vw 75vw, 62.5vw 62.5vw, 50vw 50vw;
    background-position: 0 0, 15px 20px, 50px 100px, 25px 35px;
  }
  .weave {
    background-size: 30vw 60vw;
  }
}

/* Smaller devices (e.g., smartphones) */
@media (max-width: 480px) {
  .blueprint-grid {
    background-size: 50vw 50vw, 50vw 50vw, 10vw 10vw, 10vw 10vw;
  }
  .stairs {
    background-size: 8vh 24vh;
  }
  .half-rombes {
    background-size: 8vw 16vw;
  }
  .starry-night {
    background-size: 150vw 150vw, 125vw 125vw, 100vw 100vw, 75vw 75vw;
    background-position: 0 0, 10px 15px, 40px 80px, 20px 25px;
  }
  .weave {
    background-size: 40vw 80vw;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
