nav {
  width: 100%;
  background: rgba(50, 50, 50, 0.5); /* Semi-transparent background */
  padding: 1em 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.1em;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a.active {
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
}

nav ul li a:not(.active):hover,
nav ul li a:not(.active):focus {
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
}

.user-info {
  position: relative;
  display: inline-block;
}
.user-initial-btn {
  border-radius: 0.1875rem;
  -webkit-font-smoothing: inherit;
  appearance: none;
  display: inline-flex;
  align-items: center;
  font: inherit;
  outline: none;
  user-select: none;
  text-decoration: none;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.user-initial {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.25rem;
}
.user-initial:hover {
  background-color: darken(var(--secondary-color), 10%);
}
.user-avatar {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 10px;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.dropdown-menu > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown-menu p {
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
.dropdown-menu button {
  background-color: transparent;
  border: 0px none;
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: inherit;
  appearance: none;
  outline: none;
  font: inherit;
  text-align: inherit;
  width: -webkit-fill-available;
  display: block;
  border-radius: 0.1875rem;
}
.dropdown-menu button:hover {
  color: white;
  background-color: var(--primary-color);
}
.icon-signout {
  margin-right: 0.25rem;
}

/* Mid-range devices (e.g., tablets) */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 5px 0;
  }
  nav ul li a {
    font-size: 1em;
  }
  .user-info .user-initial {
    width: 1.5rem;
    height: 1.5rem;
  }

  .dropdown-menu {
    padding: 8px;
  }
  .user-avatar {
    width: 1rem;
    height: 1rem;
  }

  .dropdown-menu button {
    padding: 4px 8px;
  }
}

/* Smaller devices (e.g., smartphones) */
@media (max-width: 480px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li a {
    font-size: 0.9em;
  }
  .user-info .user-initial {
    width: 1.25rem;
    height: 1.25rem;
  }

  .dropdown-menu {
    padding: 6px;
  }
  .user-avatar {
    width: 0.8rem;
    height: 0.8rem;
  }

  .dropdown-menu button {
    padding: 3px 6px;
  }
}
