.footer {
  width: 100%;
  padding: 10px 0;
  background: rgba(50, 50, 50, 0.7);
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

.footer a {
  color: white;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
  }
}

@media (max-width: 480px) {
  .footer p {
    font-size: 0.6em;
  }
}
